<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net472" />
  <package id="Microsoft.Database.ManagedEsent" version="2.0.3" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Xbim.Common" version="6.0.445" targetFramework="net472" />
  <package id="Xbim.Essentials" version="6.0.445" targetFramework="net472" />
  <package id="Xbim.Ifc" version="6.0.445" targetFramework="net472" />
  <package id="Xbim.Ifc2x3" version="6.0.445" targetFramework="net472" />
  <package id="Xbim.Ifc4" version="6.0.445" targetFramework="net472" />
  <package id="Xbim.Ifc4x3" version="6.0.445" targetFramework="net472" />
  <package id="Xbim.IO.Esent" version="6.0.445" targetFramework="net472" />
  <package id="Xbim.IO.MemoryModel" version="6.0.445" targetFramework="net472" />
  <package id="Xbim.Tessellator" version="6.0.445" targetFramework="net472" />
</packages>